<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title>用戶總數量</mat-card-title>
      <span>
    more<mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon">keyboard_arrow_right</mat-icon>
  </span>
    </mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-list>
      <mat-list-item>
        <div mat-line>總台數</div>
        <div mat-line> 1000 </div>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>本機帳號狀態監控</mat-card-title>
      <span>
    more<mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon">keyboard_arrow_right</mat-icon>
  </span>
    </mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-list>
      <mat-list-item>
        <div mat-line>和規</div>
        <div mat-line> 995 </div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>不合規</div>
        <div mat-line> 5 </div>
      </mat-list-item>

    </mat-list>
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>代理程式回報</mat-card-title>
      <span>
    more<mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon">keyboard_arrow_right</mat-icon>
  </span>
    </mat-card-header>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-list>
      <mat-list-item>
        <div mat-line>7天</div>
        <div mat-line> 980 </div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>7-14天</div>
        <div mat-line> 15 </div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>14天以上</div>
        <div mat-line> 5 </div>
      </mat-list-item>
    </mat-list>
  </mat-card>



  <!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
</main>
